header{
}

.top-header{
    background-color: black;
    justify-content: flex-end;
    padding: 10px;
}

.sony-logo{
    width: 150px;
}

.lf-dark-button{
    background-color: black;
    color: white;
    border-radius: 50px;
}

.fa-search{
    font-size: 26px;
    line-height: 40px;
    height: 40px;
    padding-left: 20px
}

.jumbotron-section{
    background-image: url(img/jumbo-bg.png);
    background-position: top center;
    background-size: cover;
    padding-left: 50px;
    padding-top: 250px;
    padding-bottom: 50px;
    margin-top: 120px;
}

.lf-red-button{
    background-color: #cd3d0f;
    display: inline-block;
    border-radius: 40px;
    padding: 10px;
}

.lf-blue-button{
    background-color: #2d64e6;        
    display: inline-block;
    border-radius: 40px;
    padding: 10px;
    margin: 20px 0;
}

a{
    text-decoration: none;
    color: white;
}

.card-game-section img{
    width: 100%;
    border-radius: 10px;
}

.playstation-part-section{
}

h6{
    color: #3388d5;
}

h3{
    font-size: 50px;
}

h4{
    margin-top: 50px;
    color: #777777;
    font-size: 24px;
}


.playstation-part-section img, .explore-ps-section img{
    width: 100%;
}

.play-icon h6{
    color: #777777;
}
.play-icon img{
    width: 70%;
}

.middle-jumbotron-section{
    background-image: url(img/it-takes-two-hero-banner-desktop.jpg);
    background-position: top center;
    background-size: cover;
    padding-left: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 120px;
}

.new-entry-section{
    padding-top: 50px;
    background-color: #1f1f1f
}

.new-entry-section{
    color: white;
    padding: 50px 0;
}

.new-entry-section img{
    width: 100%;
    border-radius: 10px;
    padding: 10px 0;
}


.col-md-24, .col-lg-24 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}


@media (min-width: 992px) {
    .col-md-24 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-24 {
        width: 20%;
        float: left;
    }
}

