.top-header{
    
    background-color: black;
    justify-content: flex-end;
}

@media (max-width: 575.98px) {
    .lf-col-xs{
        max-width: 30%;
    }
    
}

.lf-dark-button{
    background-color: black;
    color: white;
    border-radius: 50px;
}