header{
}

.top-header{
    background-color: black;
    justify-content: flex-end;
    padding: 10px;
}

@media (max-width: 575.98px) {
    .lf-col-xs{
        max-width: 30%;
    }
    
}

.lf-dark-button{
    background-color: black;
    color: white;
    border-radius: 50px;
}

.fa-search{
    font-size: 26px;
    line-height: 40px;
    height: 40px;
    padding-left: 20px
}

.jumbotron-section{
    background-image: url(img/jumbo-bg.png);
    background-position: center center;
    background-size: cover;
    height: 100vh;
    padding-left: 50px;
}

.lf-red-button{
    background-color: #cd3d0f;
    display: inline;
    border-radius: 40px;
    padding: 10px;
}

a{
    text-decoration: none;
    color: white;
}

.card-game-section img{
    max-width: 100%;
    border-radius: 10px;
    
}